*.rpyb
*.save
tmp/navigation.json
*.rpyc
game/saves/persistent
*.odt#
*.bak
errors.txt
tmp/distribute.txt
traceback.txt
tmp/script_version.txt
log.txt
.idea
game/scripts/custom screens/test screen.rpy
game/scripts/test.rpy
tmp/lint.txt
tmp
